@font-face {
	font-family: lemonmilk;
	src: url(../fonts/lemon_milk/LemonMilk.otf);
}
@font-face {
	font-family: bebas;
	src: url(../fonts/bebas_neue/BebasNeue.otf);
}
.company{
	font-family: bebas;
	font-size: 25px;
	margin-top: 0px;
}

.short{
	font-family: bebas;
	font-size: 20px;
}

#proj{
	font-size: 16px;
	text-align: left;
}